<div class="container">

  <table>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>

    <% form_for @account.each do |f| %>
      <tr>
        <td><%= f.label :id %></td>
        <td><%= f.text_field :id %></td>
        
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
        
         <%= f.submit "Save" %>
      </tr>
    <% end %>
  </table>

</div>
